.roadmap-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: white;
  overflow: hidden;
}

.person-icon {
    transform: translate(.14%, .1%) scale(.9);
}

.learn-icon {
    transform: translate(0.5%, 1%) scale(1.2);
}

.enablement-icon {
    transform: translate(.4%, .7%) scale(.9);
}

.deployment-icon {
    transform: translate(.5%, 1%) scale(.59);
}

.scroller-hat-icon {
    transform: translate(.3%, .6%) scale(.34);
}
